# collect the data  and some minimal analyse

In [412]:
import sqlite3
import pandas as pd
from config.config import config

conn = sqlite3.connect(config.database_url)
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)
print(tables.name.to_list())

['sqlite_sequence', 'Player_Attributes', 'Player', 'Match', 'League', 'Country', 'Team', 'Team_Attributes']

In [413]:
for table in [ 'Player_Attributes', 'Player', 'Match', 'League', 'Country', 'Team', 'Team_Attributes'] :
    print(table)
    query1 = f"select * from {table};"
    display(pd.read_sql_query(query1,conn).info())
    print('-------------------------------------------')

Player_Attributes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 42 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   183978 non-null  int64
 1   player_fifa_api_id   183978 non-null  int64
 2   player_api_id        183978 non-null  int64
 3   date                 183978 non-null  object
 4   overall_rating       183142 non-null  float64
 5   potential            183142 non-null  float64
 6   preferred_foot       183142 non-null  object
 7   attacking_work_rate  180748 non-null  object
 8   defensive_work_rate  183142 non-null  object
 9   crossing             183142 non-null  float64
 10  finishing            183142 non-null  float64
 11  heading_accuracy     183142 non-null  float64
 12  short_passing        183142 non-null  float64
 13  volleys              181265 non-null  float64
 14  dribbling            183142 non-null  float64
 15  curve                181265 non-null  float64
 16  free_kick_accuracy   183142 non-null  float64
 17  long_passing         183142 non-null  float64
 18  ball_control         183142 non-null  float64
 19  acceleration         183142 non-null  float64
 20  sprint_speed         183142 non-null  float64
 21  agility              181265 non-null  float64
 22  reactions            183142 non-null  float64
 23  balance              181265 non-null  float64
 24  shot_power           183142 non-null  float64
 25  jumping              181265 non-null  float64
 26  stamina              183142 non-null  float64
 27  strength             183142 non-null  float64
 28  long_shots           183142 non-null  float64
 29  aggression           183142 non-null  float64
 30  interceptions        183142 non-null  float64
 31  positioning          183142 non-null  float64
 32  vision               181265 non-null  float64
 33  penalties            183142 non-null  float64
 34  marking              183142 non-null  float64
 35  standing_tackle      183142 non-null  float64
 36  sliding_tackle       181265 non-null  float64
 37  gk_diving            183142 non-null  float64
 38  gk_handling          183142 non-null  float64
 39  gk_kicking           183142 non-null  float64
 40  gk_positioning       183142 non-null  float64
 41  gk_reflexes          183142 non-null  float64
dtypes: float64(35), int64(3), object(4)
memory usage: 59.0+ MB

None

-------------------------------------------
Player
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11060 non-null  int64
 1   player_api_id       11060 non-null  int64
 2   player_name         11060 non-null  object
 3   player_fifa_api_id  11060 non-null  int64
 4   birthday            11060 non-null  object
 5   height              11060 non-null  float64
 6   weight              11060 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 605.0+ KB

None

-------------------------------------------
Match
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Columns: 115 entries, id to BSA
dtypes: float64(96), int64(9), object(10)
memory usage: 22.8+ MB

None

-------------------------------------------
League
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          11 non-null     int64
 1   country_id  11 non-null     int64
 2   name        11 non-null     object
dtypes: int64(2), object(1)
memory usage: 396.0+ bytes

None

-------------------------------------------
Country
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      11 non-null     int64
 1   name    11 non-null     object
dtypes: int64(1), object(1)
memory usage: 308.0+ bytes

None

-------------------------------------------
Team
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                299 non-null    int64
 1   team_api_id       299 non-null    int64
 2   team_fifa_api_id  288 non-null    float64
 3   team_long_name    299 non-null    object
 4   team_short_name   299 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 11.8+ KB

None

-------------------------------------------
Team_Attributes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1458 non-null   int64
 1   team_fifa_api_id                1458 non-null   int64
 2   team_api_id                     1458 non-null   int64
 3   date                            1458 non-null   object
 4   buildUpPlaySpeed                1458 non-null   int64
 5   buildUpPlaySpeedClass           1458 non-null   object
 6   buildUpPlayDribbling            489 non-null    float64
 7   buildUpPlayDribblingClass       1458 non-null   object
 8   buildUpPlayPassing              1458 non-null   int64
 9   buildUpPlayPassingClass         1458 non-null   object
 10  buildUpPlayPositioningClass     1458 non-null   object
 11  chanceCreationPassing           1458 non-null   int64
 12  chanceCreationPassingClass      1458 non-null   object
 13  chanceCreationCrossing          1458 non-null   int64
 14  chanceCreationCrossingClass     1458 non-null   object
 15  chanceCreationShooting          1458 non-null   int64
 16  chanceCreationShootingClass     1458 non-null   object
 17  chanceCreationPositioningClass  1458 non-null   object
 18  defencePressure                 1458 non-null   int64
 19  defencePressureClass            1458 non-null   object
 20  defenceAggression               1458 non-null   int64
 21  defenceAggressionClass          1458 non-null   object
 22  defenceTeamWidth                1458 non-null   int64
 23  defenceTeamWidthClass           1458 non-null   object
 24  defenceDefenderLineClass        1458 non-null   object
dtypes: float64(1), int64(11), object(13)
memory usage: 284.9+ KB

None

-------------------------------------------

In [414]:
for table in [ 'Player_Attributes', 'Player', 'Match', 'League', 'Country', 'Team', 'Team_Attributes'] :
    print(table)
    query1 = f"select * from {table};"
    print(pd.read_sql_query(query1,conn).columns.to_list())
    print()

Player_Attributes
['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating', 'potential', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy', 'long_passing', 'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots', 'aggression', 'interceptions', 'positioning', 'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes']

Player
['id', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday', 'height', 'weight']

Match
['id', 'country_id', 'league_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_X1', 'home_player_X2', 'home_player_X3', 'home_player_X4', 'home_player_X5', 'home_player_X6', 'home_player_X7', 'home_player_X8', 'home_player_X9', 'home_player_X10', 'home_player_X11', 'away_player_X1', 'away_player_X2', 'away_player_X3', 'away_player_X4', 'away_player_X5', 'away_player_X6', 'away_player_X7', 'away_player_X8', 'away_player_X9', 'away_player_X10', 'away_player_X11', 'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4', 'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8', 'home_player_Y9', 'home_player_Y10', 'home_player_Y11', 'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4', 'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8', 'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA']

League
['id', 'country_id', 'name']

Country
['id', 'name']

Team
['id', 'team_api_id', 'team_fifa_api_id', 'team_long_name', 'team_short_name']

Team_Attributes
['id', 'team_fifa_api_id', 'team_api_id', 'date', 'buildUpPlaySpeed', 'buildUpPlaySpeedClass', 'buildUpPlayDribbling', 'buildUpPlayDribblingClass', 'buildUpPlayPassing', 'buildUpPlayPassingClass', 'buildUpPlayPositioningClass', 'chanceCreationPassing', 'chanceCreationPassingClass', 'chanceCreationCrossing', 'chanceCreationCrossingClass', 'chanceCreationShooting', 'chanceCreationShootingClass', 'chanceCreationPositioningClass', 'defencePressure', 'defencePressureClass', 'defenceAggression', 'defenceAggressionClass', 'defenceTeamWidth', 'defenceTeamWidthClass', 'defenceDefenderLineClass']

In [415]:
df_player = pd.read_sql_query(config.player_query,conn)
display(df_player.head())
df_team = pd.read_sql_query(config.team_query,conn)
display(df_team.head())
df_country = pd.read_sql_query(config.country_query,conn)
display(df_country.head())
df_match = pd.read_sql_query(config.match_query,conn)
display(df_match.head())

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id,player_fifa_api_id,player_api_id,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,505942,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,505942,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,505942,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,49119,9930,434,FC Aarau,AAR,1,434,9930,2010-02-22 00:00:00,60,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,49119,9930,434,FC Aarau,AAR,2,434,9930,2014-09-19 00:00:00,52,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,49119,9930,434,FC Aarau,AAR,3,434,9930,2015-09-10 00:00:00,47,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,39393,8485,77,Aberdeen,ABE,4,77,8485,2010-02-22 00:00:00,70,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,39393,8485,77,Aberdeen,ABE,5,77,8485,2011-02-22 00:00:00,47,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

      id  country_id                    name     id     name
0      1           1  Belgium Jupiler League      1  Belgium
1   1729        1729  England Premier League   1729  England
2   4769        4769          France Ligue 1   4769   France
3   7809        7809   Germany 1. Bundesliga   7809  Germany
4  10257       10257           Italy Serie A  10257    Italy

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

# work on table 1 : player

In [416]:
#print(df_player.columns[7])
print(df_player.columns.to_list())
df_player.columns=['id_player', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday', 'height', 'weight', 'id_attribute', 'player_fifa_api_id', 'player_id', 'date', 'overall_rating', 'potential', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy', 'long_passing', 'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots', 'aggression', 'interceptions', 'positioning', 'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes']

print(df_player.columns.to_list())

df_player.drop(config.drop_player, axis=1,inplace=True)

['id', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday', 'height', 'weight', 'id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating', 'potential', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy', 'long_passing', 'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots', 'aggression', 'interceptions', 'positioning', 'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes']
['id_player', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday', 'height', 'weight', 'id_attribute', 'player_fifa_api_id', 'player_id', 'date', 'overall_rating', 'potential', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy', 'long_passing', 'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots', 'aggression', 'interceptions', 'positioning', 'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes']

In [417]:
df_player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 46 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id_player            183978 non-null  int64
 1   player_name          183978 non-null  object
 2   birthday             183978 non-null  object
 3   height               183978 non-null  float64
 4   weight               183978 non-null  int64
 5   id_attribute         183978 non-null  int64
 6   player_id            183978 non-null  int64
 7   date                 183978 non-null  object
 8   overall_rating       183142 non-null  float64
 9   potential            183142 non-null  float64
 10  preferred_foot       183142 non-null  object
 11  attacking_work_rate  180748 non-null  object
 12  defensive_work_rate  183142 non-null  object
 13  crossing             183142 non-null  float64
 14  finishing            183142 non-null  float64
 15  heading_accuracy     183142 non-null  float64
 16  short_passing        183142 non-null  float64
 17  volleys              181265 non-null  float64
 18  dribbling            183142 non-null  float64
 19  curve                181265 non-null  float64
 20  free_kick_accuracy   183142 non-null  float64
 21  long_passing         183142 non-null  float64
 22  ball_control         183142 non-null  float64
 23  acceleration         183142 non-null  float64
 24  sprint_speed         183142 non-null  float64
 25  agility              181265 non-null  float64
 26  reactions            183142 non-null  float64
 27  balance              181265 non-null  float64
 28  shot_power           183142 non-null  float64
 29  jumping              181265 non-null  float64
 30  stamina              183142 non-null  float64
 31  strength             183142 non-null  float64
 32  long_shots           183142 non-null  float64
 33  aggression           183142 non-null  float64
 34  interceptions        183142 non-null  float64
 35  positioning          183142 non-null  float64
 36  vision               181265 non-null  float64
 37  penalties            183142 non-null  float64
 38  marking              183142 non-null  float64
 39  standing_tackle      183142 non-null  float64
 40  sliding_tackle       181265 non-null  float64
 41  gk_diving            183142 non-null  float64
 42  gk_handling          183142 non-null  float64
 43  gk_kicking           183142 non-null  float64
 44  gk_positioning       183142 non-null  float64
 45  gk_reflexes          183142 non-null  float64
dtypes: float64(36), int64(4), object(6)
memory usage: 64.6+ MB

# work on table 2 : team

In [418]:
print(df_team.columns.to_list())
df_team.columns  = ['id_team', 'team_api_id', 'team_fifa_api_id', 'team_long_name', 'team_short_name', 'id_team_attribute', 'team_fifa_api_id', 'team_id', 'date', 'buildUpPlaySpeed', 'buildUpPlaySpeedClass', 'buildUpPlayDribbling', 'buildUpPlayDribblingClass', 'buildUpPlayPassing', 'buildUpPlayPassingClass', 'buildUpPlayPositioningClass', 'chanceCreationPassing', 'chanceCreationPassingClass', 'chanceCreationCrossing', 'chanceCreationCrossingClass', 'chanceCreationShooting', 'chanceCreationShootingClass', 'chanceCreationPositioningClass', 'defencePressure', 'defencePressureClass', 'defenceAggression', 'defenceAggressionClass', 'defenceTeamWidth', 'defenceTeamWidthClass', 'defenceDefenderLineClass']
df_team.drop(config.drop_team, axis=1,inplace=True)
df_team.drop(df_team.columns[1],axis=1,inplace=True)
print(df_team.columns.to_list())

['id', 'team_api_id', 'team_fifa_api_id', 'team_long_name', 'team_short_name', 'id', 'team_fifa_api_id', 'team_api_id', 'date', 'buildUpPlaySpeed', 'buildUpPlaySpeedClass', 'buildUpPlayDribbling', 'buildUpPlayDribblingClass', 'buildUpPlayPassing', 'buildUpPlayPassingClass', 'buildUpPlayPositioningClass', 'chanceCreationPassing', 'chanceCreationPassingClass', 'chanceCreationCrossing', 'chanceCreationCrossingClass', 'chanceCreationShooting', 'chanceCreationShootingClass', 'chanceCreationPositioningClass', 'defencePressure', 'defencePressureClass', 'defenceAggression', 'defenceAggressionClass', 'defenceTeamWidth', 'defenceTeamWidthClass', 'defenceDefenderLineClass']
['id_team', 'team_long_name', 'team_short_name', 'id_team_attribute', 'team_id', 'date', 'buildUpPlaySpeed', 'buildUpPlaySpeedClass', 'buildUpPlayDribbling', 'buildUpPlayDribblingClass', 'buildUpPlayPassing', 'buildUpPlayPassingClass', 'buildUpPlayPositioningClass', 'chanceCreationPassing', 'chanceCreationPassingClass', 'chanceCreationCrossing', 'chanceCreationCrossingClass', 'chanceCreationShooting', 'chanceCreationShootingClass', 'chanceCreationPositioningClass', 'defencePressure', 'defencePressureClass', 'defenceAggression', 'defenceAggressionClass', 'defenceTeamWidth', 'defenceTeamWidthClass', 'defenceDefenderLineClass']

In [419]:
df_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id_team                         1458 non-null   int64
 1   team_long_name                  1458 non-null   object
 2   team_short_name                 1458 non-null   object
 3   id_team_attribute               1458 non-null   int64
 4   team_id                         1458 non-null   int64
 5   date                            1458 non-null   object
 6   buildUpPlaySpeed                1458 non-null   int64
 7   buildUpPlaySpeedClass           1458 non-null   object
 8   buildUpPlayDribbling            489 non-null    float64
 9   buildUpPlayDribblingClass       1458 non-null   object
 10  buildUpPlayPassing              1458 non-null   int64
 11  buildUpPlayPassingClass         1458 non-null   object
 12  buildUpPlayPositioningClass     1458 non-null   object
 13  chanceCreationPassing           1458 non-null   int64
 14  chanceCreationPassingClass      1458 non-null   object
 15  chanceCreationCrossing          1458 non-null   int64
 16  chanceCreationCrossingClass     1458 non-null   object
 17  chanceCreationShooting          1458 non-null   int64
 18  chanceCreationShootingClass     1458 non-null   object
 19  chanceCreationPositioningClass  1458 non-null   object
 20  defencePressure                 1458 non-null   int64
 21  defencePressureClass            1458 non-null   object
 22  defenceAggression               1458 non-null   int64
 23  defenceAggressionClass          1458 non-null   object
 24  defenceTeamWidth                1458 non-null   int64
 25  defenceTeamWidthClass           1458 non-null   object
 26  defenceDefenderLineClass        1458 non-null   object
dtypes: float64(1), int64(11), object(15)
memory usage: 307.7+ KB

# work on table 3 : country

In [420]:
df_country.columns=['id','country_id','league_name','country_id','country_name']

In [421]:
df_country.drop(config.drop_country,axis=1,inplace=True)
df_country

       id               league_name country_name
0       1    Belgium Jupiler League      Belgium
1    1729    England Premier League      England
2    4769            France Ligue 1       France
3    7809     Germany 1. Bundesliga      Germany
4   10257             Italy Serie A        Italy
5   13274    Netherlands Eredivisie  Netherlands
6   15722        Poland Ekstraklasa       Poland
7   17642  Portugal Liga ZON Sagres     Portugal
8   19694   Scotland Premier League     Scotland
9   21518           Spain LIGA BBVA        Spain
10  24558  Switzerland Super League  Switzerland

# work on table 4 : match

In [422]:
print(df_match.columns.to_list())
print(len(df_match.columns.to_list()))

df_match.drop(config.drop_match,axis=1,inplace=True)
print(df_match.columns.to_list())
print(len(df_match.columns.to_list()))

['id', 'country_id', 'league_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_X1', 'home_player_X2', 'home_player_X3', 'home_player_X4', 'home_player_X5', 'home_player_X6', 'home_player_X7', 'home_player_X8', 'home_player_X9', 'home_player_X10', 'home_player_X11', 'away_player_X1', 'away_player_X2', 'away_player_X3', 'away_player_X4', 'away_player_X5', 'away_player_X6', 'away_player_X7', 'away_player_X8', 'away_player_X9', 'away_player_X10', 'away_player_X11', 'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4', 'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8', 'home_player_Y9', 'home_player_Y10', 'home_player_Y11', 'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4', 'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8', 'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA']
115
['id', 'country_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession']
40

In [423]:
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                25979 non-null  int64
 1   country_id        25979 non-null  int64
 2   season            25979 non-null  object
 3   stage             25979 non-null  int64
 4   date              25979 non-null  object
 5   match_api_id      25979 non-null  int64
 6   home_team_api_id  25979 non-null  int64
 7   away_team_api_id  25979 non-null  int64
 8   home_team_goal    25979 non-null  int64
 9   away_team_goal    25979 non-null  int64
 10  home_player_1     24755 non-null  float64
 11  home_player_2     24664 non-null  float64
 12  home_player_3     24698 non-null  float64
 13  home_player_4     24656 non-null  float64
 14  home_player_5     24663 non-null  float64
 15  home_player_6     24654 non-null  float64
 16  home_player_7     24752 non-null  float64
 17  home_player_8     24670 non-null  float64
 18  home_player_9     24706 non-null  float64
 19  home_player_10    24543 non-null  float64
 20  home_player_11    24424 non-null  float64
 21  away_player_1     24745 non-null  float64
 22  away_player_2     24701 non-null  float64
 23  away_player_3     24686 non-null  float64
 24  away_player_4     24658 non-null  float64
 25  away_player_5     24644 non-null  float64
 26  away_player_6     24666 non-null  float64
 27  away_player_7     24744 non-null  float64
 28  away_player_8     24638 non-null  float64
 29  away_player_9     24651 non-null  float64
 30  away_player_10    24538 non-null  float64
 31  away_player_11    24425 non-null  float64
 32  goal              14217 non-null  object
 33  shoton            14217 non-null  object
 34  shotoff           14217 non-null  object
 35  foulcommit        14217 non-null  object
 36  card              14217 non-null  object
 37  cross             14217 non-null  object
 38  corner            14217 non-null  object
 39  possession        14217 non-null  object
dtypes: float64(22), int64(8), object(10)
memory usage: 7.9+ MB

# make shure the table are correct  so we can join them with match

In [424]:
df_country

       id               league_name country_name
0       1    Belgium Jupiler League      Belgium
1    1729    England Premier League      England
2    4769            France Ligue 1       France
3    7809     Germany 1. Bundesliga      Germany
4   10257             Italy Serie A        Italy
5   13274    Netherlands Eredivisie  Netherlands
6   15722        Poland Ekstraklasa       Poland
7   17642  Portugal Liga ZON Sagres     Portugal
8   19694   Scotland Premier League     Scotland
9   21518           Spain LIGA BBVA        Spain
10  24558  Switzerland Super League  Switzerland

In [425]:
display(df_match)

,id,country_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,...,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession
0,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,...,NaN,NaN,None,None,None,None,None,None,None,None
1,2,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,...,NaN,NaN,None,None,None,None,None,None,None,None
2,3,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,...,NaN,NaN,None,None,None,None,None,None,None,None
3,4,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,...,NaN,NaN,None,None,None,None,None,None,None,None
4,5,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,...,NaN,NaN,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,...,232110.0,289732.0,None,None,None,None,None,None,None,None
25975,25976,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,...,34082.0,95257.0,None,None,None,None,None,None,None,None
25976,25977,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,...,451335.0,275122.0,None,None,None,None,None,None,None,None
25977,25978,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,...,92252.0,194532.0,None,None,None,None,None,None,None,None
25978,25979,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,...,41726.0,527103.0,None,None,None,None,None,None,None,None

In [426]:
df_player

,id_player,player_name,birthday,height,weight,id_attribute,player_id,date,overall_rating,potential,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,1,505942,2016-02-18 00:00:00,67.0,71.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,2,505942,2015-11-19 00:00:00,67.0,71.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,3,505942,2015-09-21 00:00:00,62.0,66.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,4,505942,2015-03-20 00:00:00,61.0,65.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,5,505942,2007-02-22 00:00:00,61.0,65.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183974,39902,2009-08-30 00:00:00,83.0,85.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183975,39902,2009-02-22 00:00:00,78.0,80.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183976,39902,2008-08-30 00:00:00,77.0,80.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183977,39902,2007-08-30 00:00:00,78.0,81.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183978,39902,2007-02-22 00:00:00,80.0,81.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [427]:
df_team

,id_team,team_long_name,team_short_name,id_team_attribute,team_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,49119,FC Aarau,AAR,1,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,49119,FC Aarau,AAR,2,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,49119,FC Aarau,AAR,3,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,39393,Aberdeen,ABE,4,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,39393,Aberdeen,ABE,5,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,3,SV Zulte-Waregem,ZUL,1454,10000,2011-02-22 00:00:00,52,Balanced,NaN,Little,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,3,SV Zulte-Waregem,ZUL,1455,10000,2012-02-22 00:00:00,54,Balanced,NaN,Little,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,3,SV Zulte-Waregem,ZUL,1456,10000,2013-09-20 00:00:00,54,Balanced,NaN,Little,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,3,SV Zulte-Waregem,ZUL,1457,10000,2014-09-19 00:00:00,54,Balanced,42.0,Normal,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,3,SV Zulte-Waregem,ZUL,1458,10000,2015-09-10 00:00:00,54,Balanced,42.0,Normal,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

# cleaning the dataframe  and this what will be inside the function

## match , country , team dataframe

In [428]:
df_country

       id               league_name country_name
0       1    Belgium Jupiler League      Belgium
1    1729    England Premier League      England
2    4769            France Ligue 1       France
3    7809     Germany 1. Bundesliga      Germany
4   10257             Italy Serie A        Italy
5   13274    Netherlands Eredivisie  Netherlands
6   15722        Poland Ekstraklasa       Poland
7   17642  Portugal Liga ZON Sagres     Portugal
8   19694   Scotland Premier League     Scotland
9   21518           Spain LIGA BBVA        Spain
10  24558  Switzerland Super League  Switzerland

In [429]:
df_team

,id_team,team_long_name,team_short_name,id_team_attribute,team_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,49119,FC Aarau,AAR,1,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,49119,FC Aarau,AAR,2,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,49119,FC Aarau,AAR,3,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,39393,Aberdeen,ABE,4,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,39393,Aberdeen,ABE,5,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,3,SV Zulte-Waregem,ZUL,1454,10000,2011-02-22 00:00:00,52,Balanced,NaN,Little,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,3,SV Zulte-Waregem,ZUL,1455,10000,2012-02-22 00:00:00,54,Balanced,NaN,Little,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,3,SV Zulte-Waregem,ZUL,1456,10000,2013-09-20 00:00:00,54,Balanced,NaN,Little,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,3,SV Zulte-Waregem,ZUL,1457,10000,2014-09-19 00:00:00,54,Balanced,42.0,Normal,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,3,SV Zulte-Waregem,ZUL,1458,10000,2015-09-10 00:00:00,54,Balanced,42.0,Normal,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

In [430]:
df_match

,id,country_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,...,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession
0,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,...,NaN,NaN,None,None,None,None,None,None,None,None
1,2,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,...,NaN,NaN,None,None,None,None,None,None,None,None
2,3,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,...,NaN,NaN,None,None,None,None,None,None,None,None
3,4,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,...,NaN,NaN,None,None,None,None,None,None,None,None
4,5,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,...,NaN,NaN,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,...,232110.0,289732.0,None,None,None,None,None,None,None,None
25975,25976,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,...,34082.0,95257.0,None,None,None,None,None,None,None,None
25976,25977,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,...,451335.0,275122.0,None,None,None,None,None,None,None,None
25977,25978,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,...,92252.0,194532.0,None,None,None,None,None,None,None,None
25978,25979,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,...,41726.0,527103.0,None,None,None,None,None,None,None,None

In [431]:
df_match = df_match.merge(df_country[['id', 'league_name', 'country_name']], left_on='country_id', right_on='id', how='left')

In [432]:
df_match

,id_x,country_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,...,shoton,shotoff,foulcommit,card,cross,corner,possession,id_y,league_name,country_name
0,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,...,None,None,None,None,None,None,None,1,Belgium Jupiler League,Belgium
1,2,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,...,None,None,None,None,None,None,None,1,Belgium Jupiler League,Belgium
2,3,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,...,None,None,None,None,None,None,None,1,Belgium Jupiler League,Belgium
3,4,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,...,None,None,None,None,None,None,None,1,Belgium Jupiler League,Belgium
4,5,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,...,None,None,None,None,None,None,None,1,Belgium Jupiler League,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,...,None,None,None,None,None,None,None,24558,Switzerland Super League,Switzerland
25975,25976,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,...,None,None,None,None,None,None,None,24558,Switzerland Super League,Switzerland
25976,25977,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,...,None,None,None,None,None,None,None,24558,Switzerland Super League,Switzerland
25977,25978,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,...,None,None,None,None,None,None,None,24558,Switzerland Super League,Switzerland
25978,25979,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,...,None,None,None,None,None,None,None,24558,Switzerland Super League,Switzerland

In [433]:
print(df_match.columns.to_list())
df_match.drop('id_y',axis=1,inplace =True)
print(df_match.columns.to_list())
df_match.columns=['id', 'country_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'league_name', 'country_name']

df_match

['id_x', 'country_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'id_y', 'league_name', 'country_name']
['id_x', 'country_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'league_name', 'country_name']

,id,country_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,...,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,league_name,country_name
0,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,...,None,None,None,None,None,None,None,None,Belgium Jupiler League,Belgium
1,2,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,...,None,None,None,None,None,None,None,None,Belgium Jupiler League,Belgium
2,3,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,...,None,None,None,None,None,None,None,None,Belgium Jupiler League,Belgium
3,4,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,...,None,None,None,None,None,None,None,None,Belgium Jupiler League,Belgium
4,5,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,...,None,None,None,None,None,None,None,None,Belgium Jupiler League,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,...,None,None,None,None,None,None,None,None,Switzerland Super League,Switzerland
25975,25976,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,...,None,None,None,None,None,None,None,None,Switzerland Super League,Switzerland
25976,25977,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,...,None,None,None,None,None,None,None,None,Switzerland Super League,Switzerland
25977,25978,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,...,None,None,None,None,None,None,None,None,Switzerland Super League,Switzerland
25978,25979,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,...,None,None,None,None,None,None,None,None,Switzerland Super League,Switzerland

## now merge the team

In [434]:
new_df_team= df_team.drop_duplicates(subset='team_id')

In [435]:
df_match = df_match.merge(new_df_team[['team_id', 'team_long_name']], left_on='home_team_api_id', right_on= 'team_id', how='left')
df_match.rename(columns={'team_long_name': 'home_team'}, inplace=True)
df_match.drop('team_id',axis=1,inplace=True)
df_match = df_match.merge(new_df_team[['team_id', 'team_long_name']], left_on='away_team_api_id', right_on= 'team_id', how='left')
df_match.rename(columns={'team_long_name': 'away_team'}, inplace=True)
df_match.drop('team_id',axis=1,inplace=True)
df_match

,id,country_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,...,shotoff,foulcommit,card,cross,corner,possession,league_name,country_name,home_team,away_team
0,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,...,None,None,None,None,None,None,Belgium Jupiler League,Belgium,KRC Genk,Beerschot AC
1,2,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,...,None,None,None,None,None,None,Belgium Jupiler League,Belgium,SV Zulte-Waregem,Sporting Lokeren
2,3,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,...,None,None,None,None,None,None,Belgium Jupiler League,Belgium,KSV Cercle Brugge,RSC Anderlecht
3,4,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,...,None,None,None,None,None,None,Belgium Jupiler League,Belgium,KAA Gent,RAEC Mons
4,5,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,...,None,None,None,None,None,None,Belgium Jupiler League,Belgium,NaN,Standard de Liège
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,...,None,None,None,None,None,None,Switzerland Super League,Switzerland,FC St. Gallen,FC Thun
25975,25976,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,...,None,None,None,None,None,None,Switzerland Super League,Switzerland,FC Vaduz,FC Luzern
25976,25977,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,...,None,None,None,None,None,None,Switzerland Super League,Switzerland,Grasshopper Club Zürich,FC Sion
25977,25978,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,...,None,None,None,None,None,None,Switzerland Super League,Switzerland,NaN,FC Zürich
25978,25979,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,...,None,None,None,None,None,None,Switzerland Super League,Switzerland,BSC Young Boys,FC Basel

# now i have table player and table match and table team

In [436]:
display(df_team.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id_team                         1458 non-null   int64
 1   team_long_name                  1458 non-null   object
 2   team_short_name                 1458 non-null   object
 3   id_team_attribute               1458 non-null   int64
 4   team_id                         1458 non-null   int64
 5   date                            1458 non-null   object
 6   buildUpPlaySpeed                1458 non-null   int64
 7   buildUpPlaySpeedClass           1458 non-null   object
 8   buildUpPlayDribbling            489 non-null    float64
 9   buildUpPlayDribblingClass       1458 non-null   object
 10  buildUpPlayPassing              1458 non-null   int64
 11  buildUpPlayPassingClass         1458 non-null   object
 12  buildUpPlayPositioningClass     1458 non-null   object
 13  chanceCreationPassing           1458 non-null   int64
 14  chanceCreationPassingClass      1458 non-null   object
 15  chanceCreationCrossing          1458 non-null   int64
 16  chanceCreationCrossingClass     1458 non-null   object
 17  chanceCreationShooting          1458 non-null   int64
 18  chanceCreationShootingClass     1458 non-null   object
 19  chanceCreationPositioningClass  1458 non-null   object
 20  defencePressure                 1458 non-null   int64
 21  defencePressureClass            1458 non-null   object
 22  defenceAggression               1458 non-null   int64
 23  defenceAggressionClass          1458 non-null   object
 24  defenceTeamWidth                1458 non-null   int64
 25  defenceTeamWidthClass           1458 non-null   object
 26  defenceDefenderLineClass        1458 non-null   object
dtypes: float64(1), int64(11), object(15)
memory usage: 307.7+ KB

None

In [437]:
print(df_match.columns.to_list())

['id', 'country_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'league_name', 'country_name', 'home_team', 'away_team']

In [440]:

df_player['date'] = pd.to_datetime(df_player['date'])

df_player['season'] = df_player['date'].apply(lambda x: f"{x.year}/{x.year + 1}" if x.month >= 8 else f"{x.year - 1}/{x.year}")
df_player

,id_player,player_name,birthday,height,weight,id_attribute,player_id,date,overall_rating,potential,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,season
0,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,1,505942,2016-02-18,67.0,71.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2015/2016
1,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,2,505942,2015-11-19,67.0,71.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2015/2016
2,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,3,505942,2015-09-21,62.0,66.0,...,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0,2015/2016
3,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,4,505942,2015-03-20,61.0,65.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2014/2015
4,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,5,505942,2007-02-22,61.0,65.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2006/2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183974,39902,2009-08-30,83.0,85.0,...,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0,2009/2010
183974,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183975,39902,2009-02-22,78.0,80.0,...,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0,2008/2009
183975,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183976,39902,2008-08-30,77.0,80.0,...,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0,2008/2009
183976,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183977,39902,2007-08-30,78.0,81.0,...,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0,2007/2008
183977,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183978,39902,2007-02-22,80.0,81.0,...,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0,2006/2007

In [439]:
# i am thinking of dealing with null value   
# in the general analyses and in the  model i am gonna romeve outliers 
# and do standarization

# __________________________________________________

# working on the dataframe of the  general analyse

 # ___________________________

# this section for the models where i am gonna do more transformation